<div>
  <h2 class="title">VALORES</h2>

  <div class="content">
    <div>
      Nuestra acción está basada en la ética, los valores y los principios fundamentales del Islam:


      <div class="content__box">
        <div class="content__card">
          <i class="bi bi-heart-pulse"></i>
          <p>
            Espiritualidad y desarrollo personal.
          </p>
        </div>
  
        <div class="content__card">
          <i class="bi bi-lightbulb-fill"></i>
          <p>
            Conocimiento, divulgación y práctica del buen carácter y los más nobles modales.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-person-raised-hand"></i>
          <p>
            Altruismo y servicio a los demás.
          </p>
        </div>


        <div class="content__card">
          <i class="bi bi-globe-europe-africa"></i>
          <p>
            La cultura como medio con el que expresar y divulgar los sentimientos humanistas más profundos.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-person-arms-up"></i>
          <p>
            El deporte como medio que ayude a generar un modo de vida saludable y un marco sano de diversión, generando en sus practicantes el compañerismo, la cultura del esfuerzo y el trabajo en equipo.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-recycle"></i>
          <p>
            Ecología y cuidado del medio ambiente.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-balloon-heart-fill"></i>
          <p>
            Responsabilidad, integridad, coherencia y consecuencia.
          </p>
        </div>


        <div class="content__card">
          <i class="bi bi-patch-check"></i>
          <p>
            Excelencia, calidad e innovación en todas nuestras actividades.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-mortarboard-fill"></i>
          <p>
            Profesionalidad y multidisciplinariedad, elaborando todas las ideas y proyectos para desarrollar los pilares y las bases de las cuatro líneas de actuación del proyecto ALQIBLA.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-moon-stars-fill"></i>
          <p>
            Cooperación y coordinación con otros agentes públicos y privados que actúen en los mismos ámbitos de actuación del proyecto ALQIBLA.
          </p>
        </div>

        <div class="content__card">
          <i class="bi bi-clipboard2-data-fill"></i>
          <p>
            Transparencia y buena gestión de los recursos, tanto humanos como materiales.
          </p>
        </div>
      </div>
    </div>

    <div>
      <h3>
        FUNDAMENTACIÓN DE NUESTROS VALORES
      </h3>
      <p> El proyecto ALQIBLA es una plataforma meramente islámica. Por lo tanto, nuestros valores y principios se basan en las enseñanzas fundamentales del Islam.</p>
      <ul>
        <li>
          Espiritualidad
          <ul>
            <li>
              <q>No he creado a los genios ni a los seres humanos sino para que me adoren</q>. (Corán, 51:56).
            </li>
            <li>
              <q>Sirve y adora a tu Señor hasta que te llegue la certeza</q>. (Corán, 15:99).
            </li>
          </ul>
        </li>
        <li>
          Excelencia
          <ul>
            <li>
              <q>Allâh ama a quienes practican la excelencia</q>. (Corán, 2:195).
            </li>
            <li>
              <q>¿Y acaso no es la excelencia la recompensa de quienes obran excelentemente?</q>. (Corán, 55:60)
            </li>
            <li>
              <q>Allâh ha prescrito la excelencia en todas las cosas</q>. (Hadiz).
            </li>
          </ul>
        </li>
        <li>
          Responsabilidad
          <ul>
            <li>
              <q>Todos vosotros sois pastores, y sois responsables de vuestro rebaño</q>. (Hadiz).
            </li>
            <li>
              <q>¡Por tu Señor, que he de pedir, irremediablemente, cuentas absolutamente a todos, por aquello que hacían [en esta vida]!</q>. (Corán, 15:92-93)
            </li>
          </ul>
        </li>
        <li>
          Buen carácter y buenos modales
          <ul>
            <li>
              “Trata a la gente con buenos modales”. (Hadiz)  
            </li>
            <li>
              “Lo mejor que se le puede conceder a una persona es el buen carácter”. (Hadiz)
            </li>
          </ul>
        </li>

        <li>
          Solidaridad
          <ul>
            <li>
              <q>La piedad consiste […] en aquel que da su dinero en caridad –a pesar del apego que tiene al dinero– a los parientes, los huérfanos, los pobres, los viajeros insolventes, los mendigos y para liberar esclavos y cautivos</q>. (Corán, 2:177)
            </li>
          </ul>
        </li>

        <li>
          Altruismo
          <ul>
            <li>
              <q>Y prefieren ayudar a los demás, aunque ellos se encuentren en la miseria</q>. (Corán, 59:9)     
            </li>
            <li>
              <q>No es un auténtico creyente aquel que no desea para su hermano lo mismo que desea para sí mismo</q>. (Hadiz)
            </li>
          </ul>
        </li>
        <li>
          Humanismo
          <ul>
            <li>
              “Y no te hemos enviado sino como misericordia para todas las criaturas”. (Corán, 21:107).
            </li>
            <li>
              “¡Seres humanos! Os hemos creado a partir de un hombre y una mujer y hemos hecho de vosotros pueblos y comunidades para que os conozcáis unos a otros. Ciertamente, el más noble para Allâh es aquel que tiene más conciencia de Él”. (Corán, 49:13).
            </li>
          </ul>
        </li>

        <li>
          Cuidado del medio ambiente

          <ul>
            <li>
              <q>Y cuando tu Señor dijo a los ángeles: “Voy a disponer en la tierra a un jalifa</q>. (Corán, 2:30)
            </li>
            <li>
              <q>Quien trate correctamente a toda forma de vida, será recompensando</q>. (Hadiz)
            </li>
            <li>
              <q>Hasta el pez que está en el fondo de los mares pide a Allâh por el sabio</q>. (Hadiz)
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
