<div>
  <h2 class="title">MISIÓN</h2>

  <div class="content">
    La misión del proyecto ALQIBLA es:
    <ul>
      <li>
        Ofrecer a los musulmanes una plataforma para que desarrollen, de manera íntegra, todos los valores y las enseñanzas que transmite el Islam a través de las múltiples actividades que se llevarán a cabo desde las cuatro áreas de trabajo de ALQIBLA: conocimiento y comprensión del din, acción social, cultura y deporte.
      </li>
      <li>
        Promover la participación activa de la comunidad musulmana en todos los ámbitos de la sociedad civil. Dicha participación se llevará a cabo a través de un asociacionismo estructurado y que tendrá, como fin principal, enseñar, divulgar y visibilizar en la sociedad los auténticos y genuinos valores espirituales y humanos que enseña el Islam.
      </li>
      <li>
        Llevar a cabo todas aquellas acciones que ayuden al musulmán a desarrollar plenamente su identidad islámica en dos sus planos existenciales: su compromiso con la Divinidad y su compromiso con la humanidad, generando y ejerciendo, así, una identidad en la que convergen su conciencia como individuo y su ciudadanía como su parte de ser en la sociedad.
      </li>
    </ul>
  </div>
</div>
