<div>
  <h2 class="title">FUTUWA</h2>

  <div class="content">
    <div>
      <p>
        La futuwa representó, en la historia de la comunidad musulmana, un movimiento asociativo singular que fue de gran influencia durante varios siglos, tanto en las sociedades islámicas como en otro lugares del mundo. Este movimiento, formado mayoritariamente por jóvenes, buscaba, entre otras cosas, desarrollar y potenciar dos cualidades fundamentales:
      </p>

      <div  class="content__cont-cube">
        <div class="content__cube">
          <i class="bi bi-heart-fill"></i>
          La generosidad
        </div>
  
        <div class="content__cube">
          <i class="bi bi-person-walking"></i>
          Poner las capacidades físicas al servicio a los demás
        </div>
      </div>
     
    </div>

    <p>
      Esta futuwa, basada en valores islámicos, tenía como objetivo desarrollar todo este enorme potencial humano para, más tarde, invertirlo de un modo altruista.
    </p>

    <p>
      El proyecto ALQIBLA pretende rescatar este concepto, actualizarlo y contextualizarlo a nuestra época. El objetivo principal es que la futuwa se convierta en una plataforma asociativa en la que los jóvenes puedan aprender y desarrollar los valores que transmite el Islam para, después, se conviertan en los regentes que Allâh ha querido disponer en este mundo. La futuwa, pues, pretende ser un campo de cultivo en el que los más jóvenes echen raíces durante su adolescencia en el campo de las enseñanzas islámicas y, una vez hayan alcanzado la madurez, sean capaces de ser personas de provecho, tanto para ellos mismos como para los demás. 
    </p>
  </div>
</div>
