<!--Menu web section-->
<header>
  <app-nav
    (scrollToSection)="selectOption($event)"
    [currentPosition]="selected"
  >
  </app-nav>
</header>

<main>
  <div>
    <!--Title seccion section with title-->
    <section class="title_section" id="logo" #logo></section>

    <section class="home_section" id="project" #project>
      <app-about/>
    </section>

    <section class="home_section" id="mission" #mission>
      <h2>MISIÓN</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="vision" #vision>
      <h2>VISIÓN</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="valores" #valores>
      <h2>Valores</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="asociacinismo" #asociacinismo>
      <h2>Asociacinismo</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="facciones" #facciones>
      <h2>Facciones</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="futuwa" #futuwa>
      <h2>Futuwa</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="actividades" #actividades>
      <h2>Actividades</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="local" #local>
      <h2>UN NUEVO MODELO DE LOCAL - LAS FUTURAS INSTALACIONES</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>

    <section class="home_section" id="economy" #economy>
      <h2>Colaboración económica</h2>
      <p>
        {{ exampletext }}
      </p>
    </section>
  </div>
</main>
