<!--Menu web section-->
<header>
  <nav class="web_menu">
    <div class="logo_container">
      <img src="/assets/img/alqibla.png" width="64px" alt="Logo"/>
    </div>
    <ul class="menu_sections">
      @for (op of NAV_OPTIONS; track op.id) {
        <li
          (click)="selectOption(op.id)"
          [ngClass]="selected === op.id ? 'menu_option_selected' : 'menu_option'"
        >
          {{ op.name }}</li>
      }
    </ul>
  </nav>
</header>
<main>
  <div>
    <!--Title seccion section with title-->
    <section class="title_section">
    <!--

      <div class="image_container">
        <img src="/assets/img/alqibla.png" alt="Logo" />
      </div>
    -->
    </section>

    <section class="home_section" id="project" #project>
        <h2>¿QUÉ ES EL PROYECTO ALQIBLA?</h2>
        <p>
          {{ exampletext }}
        </p>
    </section>

    <section class="home_section" id="mission" #mission>
      <h2>MISIÓN</h2>
      <p>
        {{ exampletext }}
      </p>
  </section>
  </div>
</main>
