@if (showMenu) {
  <nav class="menu-container">
    <div class="menu-container__logo" (click)="selectOption(-1)">
      <img src="/assets/img/alqibla.png" width="64px" alt="Logo"/>
    </div>
    <ul class="menu-container__sections">
      @for (op of NAV_OPTIONS; track op.id) {
        <li
          (click)="selectOption(op.id)"
          [ngClass]="currentPosition === op.id ? 'menu-container__option-slected' : 'menu-container__option'"
        >
          {{ op.name }}
        </li>
      }
    </ul>
  </nav>
}

@if (mobile && !showMenu) {
  <nav class="mobile__menu_icon">
    <div>
      <i class="bi bi-justify" (click)="openMenu()"></i>
    </div>
  </nav>
}
