<section>
  <div>
    <h2 class="title">¿QUÉ ES EL PROYECTO ALQIBLA?</h2>

    <div class="content">
      <p>
        El proyecto ALQIBLA surge como respuesta a las múltiples necesidades que precisa la comunidad musulmana en nuestro país. Son innumerables los retos, tanto internos como externos, a los que nos enfrentamos y que, desgraciadamente, no se han abordado de manera global y profunda hasta el día de hoy.
      </p>

      <p>
        No cabe duda que, desde muchos aspectos, los propios musulmanes sienten la imperiosa necesidad de un cambio total y no sólo parcial dentro de su propio seno. Sin embargo, las actuales estructuras, tanto grandes como pequeñas, no son capaces de encontrar soluciones reales, factibles y coherentes con el mensaje del Islam a los diversos desafíos que se nos plantean.
      </p>
      <p>
        Se requiere aprender del pasado, analizar el presente y generar nuevas ideas. Debemos dar un paso definitivo a una nueva y deseada etapa que, sin duda alguna, exige planificación, estratégica y duro trabajo para construir el anhelado devenir que todos nosotros, como musulmanes, deseamos.
      </p>

      <p>
        Este nuevo ciclo implica, además, una profunda renovación que, en muchos casos, requerirá un reaprendizaje y una reeducación. Se trata, pues, de un regreso a las enseñanzas fundamentales del Islam y al inmenso saber que nuestros sabios han legado -tanto antiguos como contemporáneos- con el fin de redescubrir nuestro din, dejando de lado todo tipo de aditivo cultural, ideológico o político. Ello nos garantizará adquirir una visión holística e integral del Islam, no sesgada, ni interesada, ni partidista.
      </p>

      <p>
        La comunidad musulmana cuenta entre sus filas con personas que gozan de enormes capacidades y una dilatada experiencia en numerosos y diversos ámbitos: conocimiento arraigado y profundo del Islam, formación académica universitaria, educación, enseñanza, participación ciudadana, asociacionismo, trabajo social, voluntariado… Ha llegado el momento de que toda esta riqueza se agrupe y se ponga al servicio de un proyecto común. Este proyecto debe tener como objetivos  principales aunar las filas de los musulmanes y aportarles una nueva plataforma en la que todos, codo con codo, se esfuercen y trabajen en la construcción de la nueva identidad que esta umma necesita y el nuevo futuro que todos esperamos y demandamos. La falta de un proyecto globalizador se traduce, en la mayoría de los casos, en la dispersión de unas fuerzas presentes muy valiosas. Si dichas fuerzas se unen y convergen en un plan unificador y común, seremos testigos de grandes resultados.
      </p>

      <p>
        Igualmente, somos conscientes del grandísimo valor que representa la juventud y las nuevas generaciones, pues son los portadores de una energía vitalizadora y dinámica tremendamente necesarias como fuerza catalizadora de todo proyecto. Sin embargo, la juventud precisa de formación y guía para que dicha energía sea encauzada correctamente y dé sus mejores frutos. Por lo tanto, queremos ofrecer a la juventud una plataforma conscientemente estudiada y elaborada que le ayude a desarrollar todos sus potenciales y facultades, y un entorno que haga florecer en los jóvenes una identidad islámica basada en los valores esenciales de su din, al tiempo que les ayude a llevar a la práctica dichos valores en todos los planos de su vida. Por ello, uno de los objetivos más importantes de Alqibla será invertir gran parte de sus recursos humanos y materiales en la formación y la educación de la juventud y de la infancia. 
      </p>

    </div>
  </div>
</section>