<div>
  <h2 class="title">VISIÓN</h2>

  <div class="content">
    <p>El proyecto ALQIBLA aspira a:</p>
    <ul>
      <li>
        Ser una plataforma de la comunidad musulmana plenamente activa en todos en todos los ámbitos de la sociedad civil.
      </li>
      <li>
        Ser un centro consolidado y fiable en la adquisición y el aprendizaje del conocimiento islámico y, sobre todo, en su comprensión, introduciendo nuevos métodos de estudio basados en la trascendencia, el análisis, la meditación y la reflexión.
      </li>
      <li>
        Ser un referente dentro de la comunidad musulmana en cuanto a una visión y práctica globales del Islam en todas sus dimensiones –y no en una en particular–, contextualizando el mensaje del Islam a nuestra sociedad y nuestra época, en base a las enseñanzas fundamentales del Islam.
      </li>
      <li>
        Crear una nueva identidad musulmana alejada de cualquier tipo de influencia foránea. Esta identidad debe ser fruto del lugar y el momento en el que vivimos y capaz de dar respuestas reales a los musulmanes para que el Islam vuelva a ser una filosofía de vida en todos los ámbitos de la vida.
      </li>
      <li>
        Ser una organización en el que se vea representada la inmensa mayoría de la comunidad musulmana: mujeres y hombres, mayores y pequeños, jóvenes y adultos, independientemente de su origen, raza o etnia. 
      </li>
    </ul>
  </div>
</div>
